<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>My Dating Website</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../dating">DatingMingle</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../dating">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Admin</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Table that displays all users in the database -->
    <table class="table table-dark col-12">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">State</th>
                <th scope="col">Gender</th>
                <th scope="col">Seeking</th>
                <th scope="col">Premium</th>
                <th scope="col">Interests</th>
                <th scope="col">Profile</th>
            </tr>
        </thead>

        <tbody>
            <repeat group="{{ @members }}" value="{{ @member }}">
                <tr class="col-12">
                    <td>{{ @member['member_id'] }}</td>
                    <td>{{ @member['lname'] }} {{ @member['fname'] }}</td>
                    <td>{{ @member['age'] }}</td>
                    <td>{{ @member['phone'] }}</td>
                    <td>{{ @member['email'] }}</td>
                    <td>{{ @member['state'] }}</td>
                    <td>{{ @member['gender'] }}</td>
                    <td>{{ @member['seeking'] }}</td>
                    <check if="{{ empty(@member['premium']) }}"><false><td class="text-center"><input type="checkbox" checked></td></false><true><td class="text-center"><input type="checkbox"></td></true></check>
                    <td>{{ @member['interests'] }}</td>
                    <td><button class="p-0 m-0 col-12 btn-danger btn"><a href="displayMember{{@member['member_id']}}" class="btn btn-danger col-12">View</a></button></td>
                </tr>
            </repeat>
        </tbody>
    </table>


    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>