<!--
 Name: David Kovalevich
 Date: 01/19/2019
 View of the website
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>My Dating Website</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Stylesheet link -->
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="../dating">DatingMingle</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="../dating">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="admin">Admin</a>
            </li>
        </ul>
    </div>
</nav>


<br><br>

<!-- Main Content -->
<section class="container summary-main-content bg-light p-5">
    <div class="row">
        <div class="col-6 summary-left">
            <div class="form-group">
                <p>Name: {{ @member['fname'] }} {{ @member['lname'] }}</p>
                <p>Gender: {{ @member['gender'] }}</p>
                <p>Age: {{ @member['age'] }}</p>
                <p>State: {{ @member['state'] }}</p>
                <p>Seeking: {{ @member['seeking'] }}</p>
                <p>Interests: {{ @member['interests'] }}</p>
            </div>
        </div>

        <div class="col-6">
            <div class="note col-12 text-center">
                <img class="col-12" src="https://maxcdn.icons8.com/Share/icon/Users//user_male_circle_filled1600.png" />
                <h3>Biography</h3>
                <p>{{ @member['bio'] }}</p>
            </div>
        </div>

        <br><br><br><br><br><br><br><br>

    </div>
    <br><br>
</section>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>