<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Stylesheet link -->
    <link rel="stylesheet" href="styles/styles.css" type="text/css">

    <title>Interests</title>
</head>

<body class="bg-dark">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="../dating">DatingMingle</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="../dating">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="admin">Admin</a>
            </li>
        </ul>
    </div>
</nav>

<section class="container profile-main-content bg-light">
    <form class="row" method="post" action="">
        <div class="header col-12">
            <h1>Interests</h1>
            <hr>
        </div>

        <div class="col-12">

            <!-- In-door Interests -->
            <div class="form-group">
                <label class="font-weight-bold">In-door Interests</label>

                <br>
                <div class="row ml-4">
                    <div class="col-3">
                        <input class="form-check-input" name="indoor[]" type="checkbox" value="tv" id="indoor1">
                        <label class="form-check-label" for="indoor1">tv</label>
                    </div>

                    <div class="col-3">
                        <input class="form-check-input" name="indoor[]" type="checkbox" value="movies" id="indoor2">
                        <label class="form-check-label" for="indoor2">movies</label>
                    </div>

                    <div class="col-3">
                        <input class="form-check-input" name="indoor[]" type="checkbox" value="cooking" id="indoor3">
                        <label class="form-check-label" for="indoor3">cooking</label>
                    </div>

                    <div class="col-3">
                        <input class="form-check-input" name="indoor[]" type="checkbox" value="board games" id="indoor4">
                        <label class="form-check-label" for="indoor4">board games</label>
                    </div>
                </div>

                <div class="row ml-4">
                    <div class="col-3">
                        <input class="form-check-input" name="indoor[]" type="checkbox" value="puzzles" id="indoor5">
                        <label class="form-check-label" for="indoor5">puzzles</label>
                    </div>

                    <div class="col-3">
                        <input class="form-check-input" name="indoor[]" type="checkbox" value="reading" id="indoor6">
                        <label class="form-check-label" for="indoor6">reading</label>
                    </div>

                    <div class="col-3">
                        <input class="form-check-input" name="indoor[]" type="checkbox" value="playing cards" id="indoor7">
                        <label class="form-check-label" for="indoor7">playing cards</label>
                    </div>

                    <div class="col-3">
                        <input class="form-check-input" name="indoor[]" type="checkbox" value="video games" id="indoor8">
                        <label class="form-check-label" for="indoor8">video games</label>
                    </div>
                </div>
            </div>

            <!-- Out-door Interests -->
            <div class="form-group">
                <label class="font-weight-bold">Out-door Interests</label>

                <br>
                <div class="row ml-4">
                    <div class="col-3">
                        <input class="form-check-input" name="outdoor[]" type="checkbox" value="hiking" id="outdoor1">
                        <label class="form-check-label" for="outdoor1">hiking</label>
                    </div>

                    <div class="col-3">
                        <input class="form-check-input" name="outdoor[]" type="checkbox" value="biking" id="outdoor2">
                        <label class="form-check-label" for="outdoor2">biking</label>
                    </div>

                    <div class="col-3">
                        <input class="form-check-input" name="outdoor[]" type="checkbox" value="swimming" id="outdoor3">
                        <label class="form-check-label" for="outdoor3">swimming</label>
                    </div>

                    <div class="col-3">
                        <input class="form-check-input" name="outdoor[]" type="checkbox" value="collecting" id="outdoor4">
                        <label class="form-check-label" for="outdoor4">collecting</label>
                    </div>
                </div>

                <div class="row ml-4">
                    <div class="col-3">
                        <input class="form-check-input" name="outdoor[]" type="checkbox" value="walking" id="outdoor5">
                        <label class="form-check-label" for="indoor5">walking</label>
                    </div>

                    <div class="col-3">
                        <input class="form-check-input" name="outdoor[]" type="checkbox" value="climbing" id="outdoor6">
                        <label class="form-check-label" for="indoor6">climbing</label>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary text">Next ></button>
            </div>
        </div>
    </form>
</section>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>